*{
  margin: 0;
}
.mae{
    margin: 0;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url(../../assets/imagens/mulher-fotorrealista-em-um-jardim-organico-sustentavel-colhendo-produtos.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.principal{
    background-color: #ffffff75;
    padding: 20px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.938);
    width: 350px;
    text-align: center;
}
h2{
     margin-bottom: 15px;
    color: #ffffff;
}
.formulario{
    margin-bottom: 20px;
    text-align: left;
}
.formulario label{
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    color: #ffffff;
}
.formulario input{
    width: 100%;
    padding: 10px;
    border: 1px solid #07480a;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #07480a;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

}
button:hover{
     background-color: #07480a;
}